/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Barlow', sans-serif;*/
/*font-family: 'Lacquer', sans-serif;*/
/*font-family: 'Hind', sans-serif;*/
/*font-family: 'Bitter', serif;*/
/*font-family: 'Libre Franklin', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Fjalla One', sans-serif;*/
/*font-family: 'Mukta', sans-serif;*/
/*font-family: 'Lobster', cursive;*/
/*font-family: 'Source Code Pro', monospace;*/
/*font-family: 'Indie Flower', cursive;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 63px auto 60px;
  font-family: sans-serif;
}

/*
  HEADER
*/
.header a {
  text-decoration: none;
}

.header a:link,
.header a:active,
.header a:visited {
  color: rgba(0, 0, 0, .6);
}

.header a:not(.logo):hover {
  color: red;
}

.header {
  font-size: 1.6rem;
  border-bottom: 1px solid #dadce0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header > * {
  margin: 0 2rem;
}

.header .logo {
  align-self: center;
  font-size: 2.5rem;
}

.header .logo span {
  font-weight: 600;
}

.header .nav {
  align-self: center;
  text-transform: uppercase;
}

.header .list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header .list-item {
  align-self: center;
  margin-right: 1em;
}

/*
  MAIN
*/

.main {
  font-size: 1.6rem;
  padding: 34px 48px;
}

.toolbar-wrapper {
  border: 1px solid #dadce0;
  border-radius: 20px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr repeat(4, auto);
  grid-gap: 20px;
}

.toolbar-search,
.toolbar-text,
.toolbar-fontsize {
  border-right: 1px solid #dadce0;
}

.toolbar-search,
.toolbar-text,
.toolbar-fontsize,
.toolbar-changeBg,
.toolbar-view,
.toolbar-refresh {
  align-self: center;
}

.toolbar-search {
  position: relative;
}

.toolbar-search .fa-search {
  position: absolute;
}

.toolbar-search input {
  margin-left: 1.5em;
}

.searchInput {
  outline: none;
  border: none;
  font-size: inherit;
  width: 95%;
}

.toolbar-fontsize select {
  font-size: inherit;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

input[value="black"] + label {
  background-color: black;
}

input[name="bgColor"] {
  display: none;
}

input[name="bgColor"] + label {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #dadce0;
  cursor: pointer;
}

input[name="bgColor"]:checked + label {
  border: 1px solid red;
}


/*

*/

.articles-res {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 4rem;
}

.card {
  padding-top: 1rem;
  border-top: 1px solid #dadce0;

  display: grid;
  grid-auto-rows: auto auto minmax(400px, 1fr);
}

.card .title-wrapper {
  display: flex;
  justify-content: space-between;
}

.card .title-wrapper .fa-plus-circle {
  color: red;
  cursor: pointer;
}

.card .author {
  color: rgba(0, 0, 0, .6);;
}

.card .text {
  align-self: center;
}

footer {
  /*border-top: 1px solid #dadce0;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

@media only screen and (max-width: 1100px) {
  .toolbar-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-radius: 0;
  }

  .toolbar-search input {
    margin-left: 1.2em;
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .nav {
    visibility: hidden;
    opacity: 0;
  }
}
