.josefinsans {
  font-family: 'Josefin Sans', sans-serif;
}

.barlow {
  font-family: 'Barlow', sans-serif;
}

.lacquer {
  font-family: 'Lacquer', sans-serif;
}

.hind {
  font-family: 'Hind', sans-serif;
}

.bitter {
  font-family: 'Bitter', serif;
}

.librefranklin {
  font-family: 'Libre Franklin', sans-serif;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.fjallaone {
  font-family: 'Fjalla One', sans-serif;
}

.mukta {
  font-family: 'Mukta', sans-serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.sourcecodepro {
  font-family: 'Source Code Pro', monospace;
}

.indieflower {
  font-family: 'Indie Flower', cursive;
}
