.main {
  font-size: 1.6rem;
  padding: 34px 48px;
}

.toolbar-wrapper {
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr repeat(4, auto);
  grid-gap: 20px;
}

.toolbar-search,
.toolbar-text,
.toolbar-fontsize {
  border-right: 1px solid var(--border-color);
}

.toolbar-search,
.toolbar-text,
.toolbar-fontsize,
.toolbar-changeBg,
.toolbar-view,
.toolbar-refresh {
  align-self: center;
}

.toolbar-search {
  position: relative;
}

.toolbar-search .fa-search {
  position: absolute;
}

.toolbar-search input {
  margin-left: 1.5em;
}

.searchInput {
  outline: none;
  border: none;
  font-size: inherit;
  width: 95%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.toolbar-fontsize select {
  font-size: inherit;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: var(--text-color);
}

input[value="black"] + label {
  background-color: var(--black-color);
}

input[value="white"] + label {
  background-color: var(--white-color);
}

input[name="bgColor"] {
  display: none;
}

input[name="bgColor"] + label {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

input[name="bgColor"]:checked + label {
  border: 1px solid var(--danger-color);
}

.articles-res {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 4rem;
}

.card {
  padding-top: 1rem;
  border-top: 1px solid var(--border-color);

  display: grid;
  grid-auto-rows: auto auto minmax(400px, 1fr);
}

.card .title-wrapper {
  display: flex;
  justify-content: space-between;
}

.card .title-wrapper .fa-plus-circle {
  color: var(--danger-color);
  cursor: pointer;
}

.card .author {
  color: var(--second-text-color);
}

.card .text {
  align-self: center;
  word-break: break-all;
  line-height: 2;
}
