@media only screen and (max-width: 1100px) {
  .toolbar-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-radius: 0;
  }

  .toolbar-search input {
    margin-left: 1.2em;
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .nav {
    visibility: hidden;
    opacity: 0;
  }
}
