* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 63px auto 50px;
  font-family: sans-serif;

  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--danger-color);
}

a:not(.logo):hover {
  color: var(--text-color);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1; /* Firefox */
}
